<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px;">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">New message</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Add friend</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Sent messages</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content text-left">
  <div class="tab-pane active" id="home" role="tabpanel">
    <% current_user.messages.each do |message| %>
      <p class="lead"><%= "A new message at " %>
        <span style="font-size: 10px"><%= "#{pretty_time(message.created_at)}" %></span>
        <% if !message.read %>
          <a style="font-size: 10px" href="/messages/<%= message.id %>">read...</a>
        <% else %>
          <span style="font-size: 10px">was read.</span>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel">
    <div class="row">
      <div class="col-md-4">
        <form>
          <fieldset class="form-group">
            <input type="text" class="form-control" placeholder="friend name">
          </fieldset>
          <fieldset class="form-group">
            <textarea class="form-control" rows="3" placeholder="message"></textarea>
          </fieldset>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
      <div class="col-md-4">
        <h3>All friends</h3>
        <!-- <%current_user.reload.friends.count %> -->
        <% current_user.friends do |f| %>
          <%= f.username %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel">
    <div class="row">
      <div class="col-md-4">
        <form>
          <fieldset class="form-group">
            <input type="text" class="form-control" placeholder="friend name">
          </fieldset>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
      <div class="col-md-4">
        <h3>All users</h3>
        <% User.all.each do |u| %>
          <div class="width: auto">
            <%= form_tag friendships_path, method: "post", class: 'form-inline' do %>
              <input type="hidden" name="id" value="<%= u.id %>">
              <button type="submit" class="btn btn-link"><%= u.username %></button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="settings" role="tabpanel">
    <% current_user.messages.each do |message| %>
        <p class="lead"><%= message.body %></p>
    <% end %>
  </div>
</div>