<!DOCTYPE html>
<html>
<head>
  <title>Coderchat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
<a class="navbar-brand" href="/">Coder Chat</a>
<ul class="nav navbar-nav pull-left">
  <% if logged_in? %>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
  <% end %>
</ul>

<ul class="nav navbar-nav pull-right">
  <% if !logged_in? %>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Log in</a>
  </li>
  <% else %>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Log out</a>
  </li>
  <% end %>
</ul>
</nav>

<div class="container">

<div class="starter-template">
  <%= flash_messages %>
  <%= yield %>
</div>

</div><!-- /.container -->


</body>
</html>
